<!DOCTYPE html>
{% load static %}
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>İspark Durak Haritası</title>
  </head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link
    rel="stylesheet"
    href="https://js.arcgis.com/4.18/esri/themes/dark-blue/main.css"
  />
  <script src="https://js.arcgis.com/4.18/"></script>
  <script src="{% static 'js/esri.js' %}"></script>
  <body>
    <div id="viewDiv"></div>
    <div id="infoDiv" class="esri-widget">
      <button id="cluster" class="esri-button">Kümelemeyi Kapat</button>
      <div id="legendDiv"></div>
    </div>
  </body>
</html>
